@import "../../styles/custom.css";

.navbarBrand {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffff !important;
}
.navbar {
  background-color: #171718;
}
.navbarCollapse {
  justify-content: center;
  margin-left: 70px;
}
.navLink {
  color: #ffff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  float: left;
  position: relative;
}
.navLinkActive {
  color: #ffff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  float: left;
  position: relative;
}
.navLinkActive:after {
  border-bottom: 3px solid #f9b53a;
  bottom: 0px;
  content: " ";
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.navButton {
  background-color: #f9b53a;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  width: 270px;
  font-size: 16px;
  font-weight: 700;
  border-style: none;
  font-family: "DM Sans", sans-serif;
}
.navButton:hover {
  background-color: #ffd079;
}
.navButton:focus {
  background-color: #f9b53a;
}
@media (max-width: 767.98px) {
  .navbarCollapse {
    justify-content: center;
    margin-left: 0px;
  }
}
