@import "../../styles/custom.css";

.card {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
  background-color: #1f1f21;
  border-radius: 10px;
}

.cardIcon {
  margin-bottom: 10px;
}
.cardTitle {
  color: #ffffff;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25px;
}
.sectionTitle {
  margin-top: 100px;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #f9b53a;
  text-align: center;
  margin-bottom: 50px;
}
.cardDescription {
  color: #ffffff;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
}
.cardWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
