@import "../../styles/custom.css";

.footerBg {
  min-height: 230px;
  background-color: #131414;
  padding-top: 64px;
  text-align: center;
}

@media (min-width: 768px) {
  .footerBg {
    height: 230px;
    background-color: #131414;
    padding-top: 64px;
    text-align: start;
  }
}

.contentWrapper {
  margin-bottom: 30px;
}

.name {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.routeActive {
  color: #f9b53a;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.15px;
  text-decoration: none;
}
.routeActive:hover {
  color: #f9b53a;
}

.title {
  color: #f9b53a;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.route {
  color: #ffffff;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-decoration: none;
  display: block;
}

.route:hover {
  color: #f9b53a;
}

.socialIcon {
  color: #ffffff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.iconWrapper {
  text-decoration: none;
  display: inline;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}
